@import "includes/fonts"
@import "includes/general"
@import "includes/spacing"
@import "includes/quote"
@import "includes/search"

/* Colour options */
div.ui.raised.segment.inverted
  -webkit-box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important
  box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important

div.top.attached.menu.inverted
  border: 1px solid $background !important

div.ui.toggle.checkbox > label.darkable.inverted
  color: $foreground !important

div.raised.vertical.menu
  height: 100vh !important
  -webkit-box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important
  box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important

#content
  min-height: 100% !important

.font-dyslexic
  font-family: OpenDyslexic, serif

#center
  background: none !important

a.black-link
  color: $foreground !important
  text-decoration: underline !important

  &:hover
    color: #2a2a2b !important
    text-decoration: underline !important


.ui.grid.fill
  height: 90%
  margin-top: 20px

.overflow
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

/* TEXT */
i.s-author
  display: none !important
  visibility: collapse !important

pre.reported-comment
  color: $gray !important
  padding: 0 !important
  margin: 0 !important

span
  &.gray.text
    color: $gray !important
    font-weight: lighter !important

  &.centered.text
    display: block !important
    text-align: center !important


blockquote
  border-radius: 5px 5px 5px 5px
  -moz-border-radius: 5px 5px 5px 5px
  -webkit-border-radius: 5px 5px 5px 5px
  background-color: $gray
  padding: 5px


/* Ads */
#adBottom
  left: 0
  position: fixed
  text-align: center
  bottom: 0
  width: 100%
  z-index: 999


/* Fixed button */
#fixed-buttons
  position: fixed
  left: 10px
  bottom: 10px
  z-index: 10
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease


.fixed-button
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  -webkit-box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important
  box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important


.fixed-button.collapsed
  display: none !important
  visibility: collapse !important


.button.mobile
  left: -20px !important
  bottom: -20px !important
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease


#fixed-buttons.active
  left: 300px !important


/* Full button */
button.button.full
  width: 100% !important
  height: 100% !important
  margin: 0 !important

/* Raised buttons */
.ui.raised.button
  -webkit-box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important
  box-shadow: 0 2px 4px 0 $shadow2,0 2px 10px 0 $shadow !important

/* Sidebar */
#sidebar.ui.sidebar
  &.desktop
    width: 330px !important

  &.mobile
    width: 100% !important
    height: 100%


/* Social menu */
.social-widget.hidden
  visibility: collapse !important


/* Captcha */
div.g-recaptcha
  margin: auto !important
  padding: auto !important
  display: inline-block !important

#captcha
  text-align: center

/* Image */
img
  &.ui.image
    height: auto !important
    object-fit: contain !important
    display: block

  &.shadowed.image
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.25)
    -moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.25)
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.25)

/* Footer */
footer#footer
  position: relative !important
  bottom: 0 !important
  left: 0 !important
  right: 0 !important
  margin-bottom: 0 !important
  margin-top: auto !important
  border-radius: .28571429rem .28571429rem 0 0 !important
  -moz-border-radius: .28571429rem .28571429rem 0 0 !important
  -webkit-border-radius: .28571429rem .28571429rem 0 0 !important

/* Icons */
.ui.center.aligned.label
  margin: auto !important


/* Forms */
form.ui.segment.form > div.fields
  margin-bottom: 0 !important
