{% extends "/admin/master.twig" %}

{% block title %}Article editor{% endblock %}
{% block description %}Edit articles{% endblock %}

{% block body %}

    <form class="ui form" id="form" method="POST" action="/admin/articles/edit">

        <div class="ui error message"></div>

        <div class="ui two wide stackable grid">
            <div class="twelve wide column">
                <div class="field">
                    <label>Title</label>
                    <input name="title" placeholder="Title" type="text" value="{{ article.title }}">
                </div>

                <div class="field">
                    <label>Body</label>
                    <textarea name="body" placeholder="Get creative!" id="editor">{{ article.body }}</textarea>
                </div>

                <div class="field">
                    <label>Excerpt (supports markdown)</label>
                    <textarea rows="2" name="excerpt" placeholder="What is your article about?">{{ article.excerpt }}</textarea>
                </div>
            </div>

            <div class="four wide column">
                <div class="field">
                    <label>Date</label>
                    <input type="date" name="date" value="{{ article.date|date('Y-m-d') }}">
                </div>

                <div class="field">
                    <label>Category</label>
                    <select name="category" class="ui fluid search dropdown" id="search-select">
                        <option value="">Category</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}" {{ cat.id==article.category.id ? 'selected' : '' }}>{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    <label>Author</label>
                    <select name="author" class="ui fluid search dropdown" id="search-select">
                        <option value="">Author</option>
                        {% for user in users %}
                            <option value="{{ user.id }}" {{ user.id==article.author.id ? 'selected' : '' }}>{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    <label>Tags</label>
                    <select name="tags[]" class="ui fluid multiple search dropdown" multiple="multiple" id="multi-select">
                        <option value="">Tag</option>
                        {% for tag in tags %}
                            {% set selected = tag in article.tags %}
                            <option value="{{ tag.id }}" {% if tag.name in tag_names %}selected{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input name="token" type="hidden" value="{{ token }}">
                <input name="id" type="hidden" value="{{ article.id }}">

                <button class="ui massive fluid button" type="submit">
                    {{ article is empty ? 'Publish' : 'Confirm edit' }}
                </button>

            </div>
        </div>
    </form>

    {% block header %}
        <script src='/tinymce/tinymce.min.js'></script>
        <script>
            tinymce.init({
                selector: '#editor',

                autoresize_max_height: 600,
                autoresize_min_height: 300,

                plugins: "autoresize textcolor colorpicker hr link nonbreaking paste visualchars anchor contextmenu image insertdatetime " +
                         "lists preview searchreplace table wordcount autolink code fullscreen media print spellchecker",

                menubar: "file edit view insert format",

                toolbar: "removeformat | styleselect fontsizeselect | forecolor | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | " +
                         "outdent indent| numlist bullist | link image table blockquote | hr anchor nonbreaking  | fullscreen preview spellchecker help",

                contextmenu: "copy paste | bold italic underline strikethrough | alignleft aligncenter alignright",

                branding: false,
                default_link_target: "_blank",
                link_assume_external_targets: true,

                target_list: [
                    {title: 'None', value: ''},
                    {title: 'Same page', value: '_self'},
                    {title: 'New page', value: '_blank'},
                    {title: 'LIghtbox', value: '_lightbox'}
                ],

                contextmenu_never_use_native: true,

                image_caption: true,
                image_class_list: [
                    {title: 'Fluid', value: 'ui fluid image'},
                    {title: 'Centered', value: 'ui centered image'},
                    {title: 'Rounded', value: 'ui rounded image'},
                    {title: 'Circular', value: 'ui circular image'}
                ],

                insertdatetime_formats: ["%d.%m.%Y", "%B %d, %Y", "%M:%H"],

                plugin_preview_height: 600,
                plugin_preview_width: 1000,

                fontsize_formats: "8pt 10pt 11pt 12pt 14pt 18pt 24pt"
            });
        </script>
    {% endblock %}

    <script>
        $('.ui.form')
            .form({
                fields: {
                    title: {
                        identifier: 'art-title',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Title cannot be empty'
                            }
                        ]
                    },
                    body: {
                        identifier: 'art-body',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Body cannot be empty'
                            }
                        ]
                    },
                    excerpt: {
                        identifier: 'art-exc',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Excerpt cannot be empty'
                            }
                        ]
                    },
                    date: {
                        identifier: 'date',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Date cannot be empty'
                            }
                        ]
                    },
                    autor: {
                        identifier: 'art-auth',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Author cannot be empty'
                            }
                        ]
                    },
                    category: {
                        identifier: 'art-cat',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Category cannot be empty'
                            }
                        ]
                    },
                    tags: {
                        identifier: 'art-tags[]',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'At least one tag is needed'
                            }
                        ]
                    }
                }
            })
        ;
    </script>


{% endblock %}
