<?xml version="1.0" encoding="ISO-8859-1"?>
<!--suppress HtmlUnknownTag -->
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>School for New Writers RSS</title>
        <link>https://sfnw.online</link>
        <atom:link href="https://sfnw.online/RSS" rel="self" type="application/rss+xml" />
        <description>Always keep up to date with new lectures!</description>
        <language>en-us</language>
        <copyright>Copyright (C) 2018 sfnw.online</copyright>

        {% for item in items %}
            <item>
                <title>{{ item.title }}</title>
                <guid isPermaLink="true">https://sfnw.online/lecture/{{ item.id }}/{{ item.furl }}</guid>
                <dc:creator>{{ item.author.name }}</dc:creator>
                <description>{{ item.excerpt }}</description>
                <pubDate>{{ item.date|date('D, d M Y H:i:s O') }}</pubDate>
            </item>
        {% endfor %}

    </channel>
</rss>
