{% extends "/admin/master.twig" %}

{% block title %}Dashboard - Classes{% endblock %}
{% block description %}Manage classes{% endblock %}

{% block header %}
    <script src="{{ asset('assets/js/list.min.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="classes">

        <div class="ui huge fluid action input">
            <input class="search" type="text" placeholder="Search...">
            <button class="ui icon sort button" data-sort="name">
                <i class="search icon"></i>
            </button>
        </div>

        {% if message is not empty %}
            <div class="ui timed success message">
                <i class="close icon"></i>
                <div class="header">
                    Success!
                </div>
                {{ message }}
            </div>
        {% endif %}

        <div class="ui styled fluid accordion list">

            {% for class in classes %}
                <div>
                    <div class="title ui grid">
                        <div class="fourteen wide paddingless column">
                            <h2 class="header s-title">{{ class.start_title }}</h2>
                        </div>
                        <div class="two wide right aligned paddingless column">
                            <a class="ui right floated label s-date">{{ class.start_date }}</a>
                        </div>
                    </div>

                    <div class="bottom attached content">
                        <div class="ui grid transition hidden">
                            <div class="fourteen wide column">
                                <p>{{ class.end_title }} ({{ class.end_date }})</p>
                            </div>
                            <div class="two wide column">
                                <div class="ui right floated icon buttons">
                                    <a class="ui button edit-btn" data-tooltip="Edit" href="classes/edit/{{ class.id }}">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a class="ui button delete-btn" data-tooltip="Delete" href="?del={{ class.id }}&t={{ token }}" >
                                        <i class="trash icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

    <script>
        var list_options = {
            valueNames: ['s-title', 's-date']
        };

        var classList = new List('classes', list_options);
    </script>

{% endblock %}
