{% extends "/admin/master.twig" %}

{% block title %}Dashboard - Article Matrix{% endblock %}
{% block description %}Manage articles in a matrix{% endblock %}

{% block header %}
    <script src="{{ asset('assets/js/list.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="articles">
        <div class="ui huge fluid action input">
            <input class="search" type="text" placeholder="Search...">
            <button class="ui icon sort button" data-sort="name">
                <i class="search icon"></i>
            </button>
        </div>

        {% if message is not empty %}
            <div class="ui timed success message">
                <i class="close icon"></i>
                <div class="header">
                    Success!
                </div>
                {{ message }}
            </div>
        {% endif %}

        <div class="ui raised segments list">
            {% for article in articles %}

                <form class="ui segment form" method="post" action="/admin/articles/matrix#{{ article.id }}" id="{{ article.id }}">

                    <div class="four fields">
                        <div class="six wide field">
                            <h3 class="s-title" class="ui header">{{ article.title }}</h3>
                        </div>

                        <div class="three wide field">
                            <select name="category" class="ui fluid search dropdown" id="search-select">
                                <option value="">Category</option>
                                {% for cat in categories %}
                                    <option value="{{ cat.id }}" {{ cat.id==article.category.id ? 'selected' : '' }}>{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="three wide field">
                            <select name="author" class="ui fluid search dropdown" id="search-select">
                                <option value="">Author</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}" {{ user.id==article.author.id ? 'selected' : '' }}>{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="three wide field">
                            <select name="tags[]" class="ui fluid multiple search dropdown multi-select"
                                    multiple="multiple">
                                <option value="">Tag</option>
                                {% set tag_names = [] %}
                                {% for tag in article.tags %}
                                    {% set tag_names = tag_names|merge([tag.name]) %}
                                {% endfor %}
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}"
                                            {% if tag.name in tag_names %}selected{% endif %}>{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <input name="token" type="hidden" value="{{ token }}">
                        <input name="id" type="hidden" value="{{ article.id }}">

                        <div class="one wide field">
                            <button class="ui fluid button" type="submit">
                                Save
                            </button>
                        </div>

                    </div>
                </form>

            {% endfor %}

        </div>
    </div>

    <script>
        const list_options = {
            valueNames: ['s-title']
        };
        const artList = new List('articles', list_options);
    </script>

    <script>
        $('.multi-select').dropdown();
    </script>

{% endblock %}
