{% extends "master.twig" %}

{% block title %}Update profile{% endblock %}
{% block description %}SFNW Omnibus – update your profile{% endblock %}

{% block body %}
    <!-- TINYMCE -->
    <script src='/tinymce/tinymce.min.js' xmlns="http://www.w3.org/1999/html"></script>
    <script>
        tinymce.init({
            selector: '#editor',

            autoresize_max_height: 600,
            autoresize_min_height: 300,

            plugins: "autoresize textcolor colorpicker hr link nonbreaking paste anchor contextmenu image insertdatetime " +
                     "lists preview searchreplace table autolink fullscreen media print spellchecker",

            menubar: "file edit view insert",

            toolbar: "removeformat | styleselect fontsizeselect | forecolor | bold italic underline strikethrough | blockquote | alignleft aligncenter alignright alignjustify | " +
                     "outdent indent| numlist bullist | link image table | fullscreen spellchecker",

            contextmenu: "copy paste | bold italic underline strikethrough | alignleft aligncenter alignright",

            branding: false,
            default_link_target: "_blank",
            link_assume_external_targets: true,

            target_list: [
                {title: 'None', value: ''},
                {title: 'Same page', value: '_self'},
                {title: 'New page', value: '_blank'},
                {title: 'Lightbox', value: '_lightbox'}
            ],

            contextmenu_never_use_native: true,

            image_caption: true,
            image_class_list: [
                {title: 'Fluid', value: 'ui fluid image'},
                {title: 'Centered', value: 'ui centered image'},
                {title: 'Rounded', value: 'ui rounded image'},
                {title: 'Circular', value: 'ui circular image'}
            ],

            plugin_preview_height: 600,
            plugin_preview_width: 1000,

            fontsize_formats: "8pt 10pt 11pt 12pt 14pt 18pt 24pt 36pt 48pt"
        });
    </script>

        <div class="row">

            <div class="three wide column">
                <div class="ui sticky raised segment">


                    <img class="ui centered small circular shadowed image" src="{{ user.avatar }}" id="avatar">

                    <form class="ui form" action="/profile/update" method="POST" enctype="multipart/form-data">
                        <h1 class="ui center aligned header">
                            {{ user.name }}
                        </h1>

                        <div class="field">
                            <div class="ui input" >
                                <input type="file" name="file" id="imgNip"/>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left labeled input">
                                <div class="ui icon label" data-tooltip="Edit your personal title" data-position="left center">
                                    <i class="certificate icon"></i>
                                </div>
                                <input type="text" name="title" placeholder="Your personal title"
                                       value="{{ user.title }}">
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui left labeled input">
                                <div class="ui icon label" data-tooltip="Edit your link" data-position="left center">
                                    <i class="globe icon"></i>
                                </div>
                                <input type="text" name="link"
                                       placeholder="Link to your website, FiMFiction profile, AO3 profile, etc."
                                       value="{{ user.link }}">
                            </div>
                        </div>

                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="token" value="{{ token }}">
                        <input type="hidden" name="type" value="profile">

                        <div class="field">
                            <input type="submit" class="ui fluid button" value="Update">
                        </div>
                    </form>
                </div>
            </div>

            <div class="eight wide column">

                <div class="ui raised segment">
                    <form class="ui form" action="/profile/update" method="POST">
                        <div class="field">
                            <label>
                                Bio
                                <textarea name="bio" id="editor">{{ user.bio }}</textarea>
                            </label>
                        </div>

                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="token" value="{{ token }}">
                        <input type="hidden" name="type" value="bio">

                        <div class="field">
                            <input type="submit" class="ui fluid button" value="Update">
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="three wide column"></div>

            <div class="eight wide column">
                <div class="ui red raised segment">
                    <form class="ui form" action="/profile/update"  method="post" id="account">
                        <h2 class="ui header">Edit your account data</h2>
                        <div class="ui error message"></div>

                        <div class="field">
                            <label>Update password</label>
                            <div class="ui action input">
                                <input name="newpass1" type="password" id="pass" placeholder="New password">
                                <button class="ui icon button" type="button" data-content="Generate random password"
                                        onclick='insertPassword(6, 2, 4, "pass")'>
                                    <i class="random icon"></i>
                                </button>
                                <button class="ui icon button" type="button" data-content="Show/hide password" id="showhide"
                                        onclick="toggle_password('pass')">
                                    <i class="grey eye icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="field">
                            <div class="ui action input">
                                <input name="newpass2" type="password" id="pass2" placeholder="New password again">
                                <button class="ui icon button" type="button" data-content="Show/hide password" id="showhide"
                                        onclick="toggle_password('pass2')">
                                    <i class="grey eye icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="ui divider"></div>

                        <div class="field">
                            <label>
                                Change email
                                <input type="email" name="email" placeholder="New password again"
                                       value="{{ user.email }}">
                            </label>
                        </div>

                        <div class="ui divider"></div>

                        <div class="field">
                            <label>Confirm with your current password</label>
                            <div class="ui action input">
                                <input name="password" type="password" id="pass3">
                                <button class="ui icon button" type="button" data-content="Show/hide password" id="showhide"
                                        onclick="toggle_password('pass3')">
                                    <i class="grey eye icon"></i>
                                </button>
                            </div>
                        </div>

                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="token" value="{{ token }}">
                        <input type="hidden" name="type" value="account">

                        <div class="field" data-tooltip="Won't save your Profile edits!">
                            <input type="submit" class="ui fluid button" value="Update">
                        </div>

                    </form>
                </div>
            </div>
        </div>

    <script src="{{ asset('assets/js/passgen.min.js') }}"></script>
    <script src="{{ asset('assets/js/showpass.min.js') }}"></script>

    <script>
        $('#account')
            .form({
                fields: {
                    word: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'You need to confirm edits with your current password'
                            }
                        ]
                    },
                    newpass2: {
                        identifier: 'newpass2',
                        optional: true,
                        rules: [
                            {
                                type: 'match[newpass1]',
                                prompt: 'Passwords do not match'
                            }
                        ]
                    },
                    email1: {
                        identifier: 'email1',
                        optional: true,
                        rules: [
                            {
                                type: 'email',
                                prompt: 'Please enter valid email'
                            }
                        ]
                    }
                }
            })
        ;
    </script>



{% endblock %}
