@font-face {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/public/assets/fonts/CrimsonText.woff2") format("woff2"); }
@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/public/assets/fonts/OpenDyslexic.otf") format("opentype"); }
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000; }

.marginless {
  margin: 0 !important; }

.paddingless {
  padding: 0 !important; }

.halfpadded {
  padding: 5px !important; }

.v-padded {
  padding: 5px 0 !important; }

.h-padded {
  padding: 0 5px !important; }

.margined {
  margin: 0 14px 14px 14px !important; }

@media only screen and (max-width: 768px) {
  div.ui.message.quote.container {
    width: 95% !important;
    padding: 15px 25px 35px !important; } }
@media only screen and (min-width: 992px) {
  div.ui.message.quote.container {
    width: 70% !important;
    padding: 15px 25px 35px !important; } }
@media only screen and (min-width: 1400px) {
  div.ui.message.quote.container {
    width: 50% !important;
    padding: 15px 25px 35px !important; } }
div.quote.body {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 2em;
  line-height: 1;
  text-align: justify;
  text-justify: inter-word; }

div.quote.author {
  float: right !important;
  margin-top: 5px !important; }

div.ui.fluid.search.item {
  border: none !important; }

/* Colour options */
div.ui.raised.segment.inverted {
  -webkit-box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important;
  box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important; }

div.top.attached.menu.inverted {
  border: 1px solid #000000 !important; }

div.ui.toggle.checkbox > label.darkable.inverted {
  color: #ffffff !important; }

div.raised.vertical.menu {
  height: 100vh !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important;
  box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important; }

#content {
  min-height: 100% !important; }

.font-dyslexic {
  font-family: OpenDyslexic, serif; }

#center {
  background: none !important; }

a.black-link {
  color: #ffffff !important;
  text-decoration: underline !important; }
  a.black-link:hover {
    color: #2a2a2b !important;
    text-decoration: underline !important; }

.ui.grid.fill {
  height: 90%;
  margin-top: 20px; }

.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* TEXT */
i.s-author {
  display: none !important;
  visibility: collapse !important; }

pre.reported-comment {
  color: #cccccc !important;
  padding: 0 !important;
  margin: 0 !important; }

span.gray.text {
  color: #cccccc !important;
  font-weight: lighter !important; }
span.centered.text {
  display: block !important;
  text-align: center !important; }

blockquote {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  background-color: #cccccc;
  padding: 5px; }

/* Ads */
#adBottom {
  left: 0;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 999; }

/* Fixed button */
#fixed-buttons {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.fixed-button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important;
  box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important; }

.fixed-button.collapsed {
  display: none !important;
  visibility: collapse !important; }

.button.mobile {
  left: -20px !important;
  bottom: -20px !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#fixed-buttons.active {
  left: 300px !important; }

/* Full button */
button.button.full {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important; }

/* Raised buttons */
.ui.raised.button {
  -webkit-box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important;
  box-shadow: 0 2px 4px 0 rgba(204, 217, 219, 0.12), 0 2px 10px 0 rgba(204, 217, 219, 0.15) !important; }

/* Sidebar */
#sidebar.ui.sidebar.desktop {
  width: 330px !important; }
#sidebar.ui.sidebar.mobile {
  width: 100% !important;
  height: 100%; }

/* Social menu */
.social-widget.hidden {
  visibility: collapse !important; }

/* Captcha */
div.g-recaptcha {
  margin: auto !important;
  padding: auto !important;
  display: inline-block !important; }

#captcha {
  text-align: center; }

/* Image */
img.ui.image {
  height: auto !important;
  object-fit: contain !important;
  display: block; }
img.shadowed.image {
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25); }

/* Footer */
footer#footer {
  position: relative !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: auto !important;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
  -moz-border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
  -webkit-border-radius: 0.28571429rem 0.28571429rem 0 0 !important; }

/* Icons */
.ui.center.aligned.label {
  margin: auto !important; }

/* Forms */
form.ui.segment.form > div.fields {
  margin-bottom: 0 !important; }

/*# sourceMappingURL=black.css.map */
