<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block description %}Admin panel of School for New Writers{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#eae3c9" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="semantic-theme" href="/semantic/dist/semantic-{{ theme }}.min.css">
    <link rel="stylesheet" type="text/css" id="additional-theme" href="/public/assets/css/{{ theme }}.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/discord.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/patreon.min.css">
    <link rel="stylesheet" href="/public/assets/css/toastr.min.css"/>

    <title>{% block title %}Omnibus – Admin{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/public/assets/js/toastr.min.js"></script>
    <script defer src="/public/assets/js/mobiledetect.min.js"></script>
    <script src="/public/assets/js/list.min.js"></script>

    {% block header %}{% endblock %}

</head>

<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a>
    to improve your experience.</p>
<![endif]-->


{% include 'includes/navbar.twig' %}


<div class="ui two wide stretched grid fill">

    {% if user.role.is_admin %}

    <div class="two wide column">

        <div class="ui raised vertical menu">

            <div class="item">
                <a class="ui item active" href="/admin">
                    <i class="home icon"></i>
                    Home
                </a>
            </div>

            <div class="item">
                <div class="header">Articles</div>
                <div class="menu">
                    <a class="item" href="/admin/articles/edit/">Add</a>
                    <a class="item" href="/admin/articles/">Manage</a>
                    <a class="item" href="/admin/articles/matrix/">Matrix</a>
                </div>
            </div>

            <div class="item">
                <div class="header">Classes</div>
                <div class="menu">
                    <a class="item" href="/admin/classes/edit/">Add</a>
                    <a class="item" href="/admin/classes/">Manage</a>
                </div>
            </div>

            <div class="item">
                <div class="header">Categories</div>
                <div class="menu">
                    <a class="item" href="/admin/categories/edit/">Add</a>
                    <a class="item" href="/admin/categories/">Manage</a>
                </div>
            </div>

            <div class="item">
                <div class="header">Tags</div>
                <div class="menu">
                    <a class="item" href="/admin/tags/edit/">Add</a>
                    <a class="item" href="/admin/tags/">Manage</a>
                </div>
            </div>

            <div class="item">
                <div class="header">Users</div>
                <div class="menu">
                    <a class="item" href="/admin/users/edit/">Add</a>
                    <a class="item" href="/admin/users/">Manage</a>
                </div>
            </div>

            <div class="item">
                <div class="header">Comments</div>
                <div class="menu">
                    <a class="item" href="/admin/comments/">Manage</a>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="thirteen wide column" id="test">
        <div class="ui raised segment" id="content">

            {% block body %}{% endblock %}

        </div>
    </div>

</div>


</body>

<script>
    function prependClass(sel, strClass, last=true) {
        let $el = jQuery(sel);
        let classes = $el.attr('class');

        if (last) {
            /* prepend class */
            classes = strClass + ' ' + classes;
            $el.attr('class', classes);
        } else {
            classes = classes.substr(classes.indexOf(" ") + 1);
            $el.attr('class', classes);
        }
    }
</script>

<script>
    $('.ui.sticky')
        .sticky({
            content: '#content'
        })
    ;

    $('.ui.dropdown')
        .dropdown({
            allowAdditions: true
        })
    ;

    $('.ui.accordion')
        .accordion()
    ;

    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;

    setTimeout(function () {
        $('.message.timed').transition('fade')
    }, 2500);

    $('#search-select')
        .dropdown({
            allowAdditions: true
        })
    ;

    $('#multi-select')
        .dropdown({
            allowAdditions: true
        })
    ;

    $('.ui.checkbox')
        .checkbox()
    ;

    // TOASTR OPTIONS
    const t_options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "300",
        "timeOut": "2000",
        "extendedTimeOut": "500",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "slideDown",
        "hideMethod": "fadeOut"
    };
</script>

</html>
