{% extends "master.twig" %}

{% block title %}Restore password{% endblock %}
{% block description %}SFNW Omnibus – restore your password{% endblock %}
{% block header %}
    <script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %}

{% block body %}
    <div class="row"></div>

    <div class="four wide computer fourteen wide tablet fifteen wide mobile column">

        {% if message.body is not empty %}
            <div class="ui error message">
                <i class="close icon"></i>
                <div class="header">
                    Error!
                </div>
                {{ message.body|raw }}
            </div>
        {% endif %}

        <form class="ui raised segment big form" action="/restore" method="post">

            <div class="ui error message"></div>

            <div class="field">
                <input name="login" placeholder="Login" type="text">
                <input name="email" placeholder="Email" type="text">
                <input name="token" type="hidden" value="{{ token }}">
            </div>
            <div class="field" id="captcha">
                <div class="g-recaptcha" data-sitekey="6Ld0E0UUAAAAAHXWkvz3rj08Xq5jQhOa22APysTC"></div>
            </div>
            <button class="ui fluid button" type="submit">Send new password</button>
        </form>

    </div>

{% endblock %}
